pos/pos_server
pos/pos_server.exe
pos/abarrotes-pdv
pos/abarrotes-pdv.exe
.DS_Store
thumbs.db
*.swp
*.log
*.db
pos_server
pos_server.gz
pos-server
*.gz
*.db
*.db.bak
pos/abarrotes.db
pos/pos.db
pos/pos.db.bak
pos-bin
